@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', system-ui;
}

::selection {
    background-color: #773bee7b;
}


body {
    background-color: #0d1018;
    margin: 40px 30%;
    color: #fff;
}

span {
    color: #773bee;
}

a {
    color: #fff;
    text-decoration: underline 2px #773bee;
    transition: 0.1s;

    &:hover {
        text-decoration-color: #5a24c4;
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.icons {
    display: flex;
    gap: 10px;
}

header div.icons a{
    padding: 8px;
    background-color: #5a24c4;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div.icons a i {
    color: #fff;
    font-size: 18px;
}

main h3{
    padding-block: 20px;
}

main div.grid {
    display: flex;
    flex-wrap: wrap;
}

main div.grid a {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    &:hover{
        background-color: #090911;
    }
}



@media (max-width: 1030px) {
    body {
        margin: 40px 80px;
    }
}
@media (max-width: 550px) {
    body{
        margin: 20px;
    }
    main div.grid a{
        width: 100%;
    }
    header div.icons{
        position: absolute;
        top: 5px;
        right: 5px;
    }
    header div.info h1{
        font-size: 1.4rem;
    }
}